#
# Ambarella PCIe drivers
#

config AMBARELLA_PCIE_VETH
	tristate "Ambarella PCIe Virtual Network"
	depends on PCI_EPF_AMBARELLA
	default n
	help
	  Say y here to enable Ambarella PCIe Virtual Network
