// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026
 */

/dts-v1/;

#include "ambarella-n1_655.dtsi"

/ {
	compatible = "Ambarella N1-655";
	model = "n1-655 cooper pro";

	/delete-node/psci;

	memory {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000008 0x00000000>;
		#address-cells = <0x00000002>;
		#size-cells = <0x00000002>;
		ranges;
	};

	 firmware {
		 /delete-node/optee;
	 };
};


&sdmmc0 {
	status = "okay";
	non-removable;
};

&usb_cdnsp {
	status = "okay";
	hub-pwr-gpios = <&gpio 3 1>;
	hub-rst-gpios = <&gpio 19 0>;
};

&mac0 {
	status = "okay";
	rst-gpios = <&gpio 14 1>;
	rst-gpios-delay = <150 100>;
	phy-handle = <&maca_phy0>;
	phy-mode = "rgmii-rxid";
	/delete-property/ amb,sgmii-regmap;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		maca_phy0: ethernet-phy@0 {
			reg = <2>;
		};
	};
};
&udc0 {

	status = "disabled";
};
